@{
    ViewData["Title"] = "“The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">Hello and welcome to my movie collection</h1>
    <p>
        <img src="~/img/joelHilton.jpg" />
    </p>
    <br /><br />
    <a asp-controller="Home" asp-action="NewMovie">Fill out form to enter a new movie in the collection!</a>

    <div>
        <a asp-controller="Home" asp-action="MovieList">View Movie List</a>
    </div>
</div>
